/* Write your CSS here */
.notification-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0px;
  padding: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4 px;
  width: 70%;
}

@media screen and (max-width: 767px) {
  .notification-container {
    width: 95%;
  }
}

.close-icon {
  font-size: 24px;
  align-self: center;
  margin-left: auto;
  flex-shrink: 0;
}
